#header-nav {
    background-color: #A0A0A0;
    border-radius: 0;
}

.navbar-header {
    position: relative;
}

.navbar-brand {
    position: relative;
    text-align: left;
}

.navbar-brand h1 {
    margin-top: -10px;

    color: black;
    text-align: left;
}

@media (max-width: 767px) {
    #main-content {
        margin: 40px;
    }

}

#nav-list li {
    background-color: #000040;
}

#nav-list li a {
    text-align: center;
}

#nav-list li a h2 {
    color: white;
}

.row div {
    margin-top: 20px;
    background-color: #A0A0A0;
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
    margin-top: 0;
    margin-bottom: 0;
}

div>h3 {
    text-align: center;
}